h1,
h2,
h3 {
  text-transform: uppercase !important;
}

.h5,
h5 {
  font-size: 1.5rem;
}

.header {
  background-color: #222222;
}

.header .header__menu-item {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: bold;
}

.header .link--text {
  color: rgba(255, 255, 255, 0.6);
}

.header .header__icon .icon {
  transform: scale(1.5);
}
.header .header__icon:hover .icon {
  transform: scale(1.57);
}

.media {
  background-color: #ffffff !important;
}
.media > img {
  object-fit: contain;
}

.card-information__wrapper .card-information__text {
  text-align: center;
  padding-left: 1.2rem;
}

.card-information__wrapper .price {
  justify-content: center;
}

.card-information__wrapper .price dd {
  margin: 0;
}

.footer .copyright__content {
  font-size: 1.4rem;
}

.footer .footer-block__details-content .list-menu__item--link {
  font-size: 1.6rem;
}
