h1,
h2,
h3 {
  text-transform: uppercase !important;
}

.header {
  background-color: #222222;
}

.header .header__menu-item {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: bold;
}

.header .link--text {
  color: rgba(255, 255, 255, 0.6);
}

.header .header__icon .icon {
  transform: scale(1.5);
}
.header .header__icon:hover .icon {
  transform: scale(1.57);
}

.media {
  background-color: #ffffff !important;
}
.media > img {
  object-fit: contain;
}

.footer .copyright__content {
  font-size: 1.4rem;
}

.footer .footer-block__details-content .list-menu__item--link {
  font-size: 1.6rem;
}
